{% extends 'base.html' %}
{% block title %} Welcome to MIAS{% endblock %}
{% block content %}
    <div>
        {% if user.is_authenticated %}
            <div class="user_block col d-flex justify-content-center">
                <div class="square text-center">
                    <h1 class="m-3">Welcome!</h1>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <p>{{ user.company.name }}</p>
                    <p>{{ user.company.street }}, {{ user.company.post_number }} {{ user.company.city }}</p>
                    <p>{{ user.company.vat_id }}</p>
                </div>
            </div>
        {% endif %}

        <div class="bck-container">
            <div class="row">
                <div class="block col d-flex justify-content-center">
                    <div class="square text-center">
                        <h1 class="m-3">mInvoices</h1>
                        <p>Manage and track your invoices easily with mInvoices app.</p>
                        <img class="icons" src="/static/icons/invoice.svg" alt="Invoice icon">
                        <div class="m-4">
                            <a href="/mInvoices" class="btn btn-outline-light">Start</a>
                        </div>
                    </div>
                </div>
                <div class="block col d-flex justify-content-center">
                    <div class="square text-center">
                        <h1 class="m-3">mStock</h1>
                        <p>Monitor and manage your inventory with mStock app.</p>
                        <img class="icons" src="/static/icons/stock.svg" alt="Stock icon">
                        <div class="m-4">
                            <a href="/mStock" class="btn btn-outline-light">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}