.content-container{
    display: flex;
}

.bck-container{
    margin-left: auto;
    margin-right: auto;
}

.block{
    min-height: 550px;
}

hr{
    background-color: white;
}

.page_btn:hover{
            background-color: white;
            color: #001d51;
        }
        .page_btn{
            color: white;
            background-color: transparent;
            border: 1px white solid;
            border-radius: 5px;
            height: 100%;
            width: 50px;
            margin-right: 10px;
        }

        .page_input{
            color: white;
            height: 100%;
            background-color: transparent;
            margin-left: 10px;
        }
        .pagination .page-item .page-link {
            height: 100%;
            background-color: rgb(0, 81, 174);
            border: none;
            margin: 2px;
            border-radius: 5px;
            color: #fff;
        }


        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }

        .icons{
            width: 250px;
        }
        label, p{
            font-family: 'Roboto', sans-serif;
            font-weight: 200;
            color: white;
            opacity: 0.6;
        }
        h1{
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
        }
        body{
            background-color: #001d51;
            min-height: 100vh;
        }
        .login_block{

            height: 100%;
            margin: auto;
            margin-top:5vh;
            border-radius: 15px;
            max-width: 350px;

            color: white;
            filter: contrast(120%) brightness(120%);
            background:
            linear-gradient(145deg, rgb(6, 164, 169), rgba(64, 0, 255, 0.56)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.32' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
            transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            border: 0 solid transparent;
        }
        .user_block{
            height: 100%;
            width: 480px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            border-radius: 15px;
            color: white;
            background: transparent;
            border:1px white solid;
        }
        .block {
            height: 100%;
            margin: 5vw;
            border-radius: 15px;

            color: white;
            filter: contrast(120%) brightness(120%);
            background:
            linear-gradient(145deg, rgb(6, 164, 169), rgba(64, 0, 255, 0.56)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 50 50' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.32' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
            transition: transform 0.3s ease-in-out, border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
            border: 0 solid transparent;
        }
        .block:hover{
            border: 1px solid;
            box-shadow: 0 0 20px rgba(59, 130, 246, 0.2), 0 0 40px rgba(59, 130, 246, 0.2);
        }
        .custom-navbar {
            filter: contrast(120%) brightness(120%);
            background:
            linear-gradient(145deg, rgb(6, 164, 169), rgba(64, 0, 255, 0.56)),
            url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.32' numOctaves='5' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");

            color: white;
        }
        .custom-navbar .nav-link {
            color: #adb5bd;
            margin-right: 15px;
        }
        .custom-navbar .nav-link:hover {
            color: #ffffff;
        }
        .nav-item-icon {
            margin-right: 10px;
        }
        .nav-logo {
            width: 100px;
            height: auto;
        }
